@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(117, 117, 247);
}

button{
    display: block
}

h1{
    text-align: center;
    color: aliceblue;
}

#seltab{
    text-align: center;
    font-size: 0.8em;
    background-color: rgb(250, 250, 250);
    width: 90%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

section{
    background-color: antiquewhite;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}

footer > p{
    color: aliceblue;
    text-align: center;
}