@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(0, 0, 117);
}

h1{
    color: aliceblue;
    margin-top: 50px;
    text-align: center;
}

section{
    margin: auto;
    margin-top: 40px;
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    
}

footer{
    color: aliceblue;
    text-align: center;
    margin-top: 15px;
}